DB_URL=jdbc:postgresql://localhost:5432/your_database_name
DB_Username=your_database_username
DB_Password=your_database_password

MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key